<div class="w-full max-w-[736px] flex bg-white rounded-[32px] boxShadow sm:flex-col sm:h-full sm:rounded-none">
    <twig:BaseResult result="{{ this.result }}" />
    <twig:BaseSummary categories="{{ this.categories }}" />
</div>